<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/codeprep_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Chamuditha@5201314</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Show SQL in console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Automatically create/update tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Add annotated classes -->
        <mapping class="com.chamu.entity.Content"/>
        <mapping class="com.chamu.entity.Difficulty"/>
        <mapping class="com.chamu.entity.Language"/>
        <mapping class="com.chamu.entity.Module"/>
        <mapping class="com.chamu.entity.Phase"/>
        <mapping class="com.chamu.entity.PhaseOrder"/>
        <mapping class="com.chamu.entity.Problem"/>
        <mapping class="com.chamu.entity.Solution"/>
        <mapping class="com.chamu.entity.Status"/>
        <mapping class="com.chamu.entity.TestCase"/>
        <mapping class="com.chamu.entity.User"/>
        <mapping class="com.chamu.entity.UserEnrollment"/>

    </session-factory>
</hibernate-configuration>
